<div class="container">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Mongo Scraper</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				{{#unless hacker}}
				<li class="nav-item">
					<a class="nav-link" href="/scrape/hackernews">Hacker News</a>
				</li>
				{{/unless}}
				{{#unless echo}}
				<li class="nav-item">
					<a class="nav-link" href="/scrape/echojs">Echojs</a>
				</li>
				{{/unless}}
			</ul>
		</div>
	</nav>

	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
			<h1 class="display-4 text-center">Mongo Scraper!</h1>
		</div>
	</div>
	
	{{#each articles}}
		<div class="card mb-4" data-card="{{this._id}}">
			<div class="card-body">
				<h5 class="card-title"><a href="{{this.link}}" target="_blank">{{this.title}}</a></h5>
				<p class="card-text">{{this.summary}}</p>
				{{#unless ../saved}}
					<span class="save-article options">Save Article</span>
				{{/unless}}
				{{#if ../saved}}
					<span class="delete-article options" data-delete-article="{{this._id}}">Delete Article</span>
					<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-add-note-{{this._id}}">Add A Note</button>
					{{> addNoteModal this}}
					<button type="button" class="btn btn-success mr-4 float-right" data-toggle="modal" data-target="#view-notes-modal-{{this._id}}">View Notes</button>
					{{> viewNotesModal this}}
				{{/if}}
			</div>
		</div>
	{{/each}}


</div>